/* BODY */
body{
    background-color: black;
}

/* IMAGEM DE FUNDO */
#ImagemDeFundo {
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-top: -65%;
}

/* TÍTULO */
h1{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTÁGIO */
/*h2{

}*/

/* VERSÃO */
/*p{

}*/