/* BODY */
body{
    background-color: black;
}

/* IMAGEM DE FUNDO */
#ImagemDeFundo {
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(-50%);
  }